img{
    width: 200px;
}
body header img{
    width: 50px;
}
footer section img{
    width: 60px;
}
.abc1 img {
    width: 90px;
}
header ul{
    display: flex;
    list-style: none;
}
header ul a{padding: 10px 20px; text-decoration: none; background-color: burlywood;}
header ul a:hover{background-color: cadetblue;}