@import url('https://fonts.googleapis.com/css?family=Neucha|Philosopher');

body {
	font-family: 'Philosopher', sans-serif;
}

* {
	margin: 0px;
	padding: 0px;
}

/*--- header ---*/
nav ul {
	list-style: none;
	display: flex;
	background-color: black;
}

nav ul li {
	position: relative;
	width: 80px;
	height: 30px;
	padding: 15px 20px;
	text-align: center;
}

nav ul li a {
	color: white;
	text-decoration: none;
}

nav ul li div {
	opacity: 0;
	position: absolute;
	bottom: -65px;
	left: 25px;
	transform: rotate(360deg);
	transition: opacity 0.5s, transform 0.5s;
}

nav ul li:hover div {
	opacity: 1;
	transform: rotate(0deg);
}
/*--- main ---*/
.main{
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url('images/marvel_back.jpg');
}
.main h1{
	color: white;
	font-size: 90px;
	text-shadow: 2px 2px #f54947;
	padding-left: 20px;
	transform-origin: left;
	transition: transform 1s;
}
.main div{
	padding: 50px 0;
}
.main div img{
    width: 100%;
}
.main h1:hover{
	transform: scale(1.2);
}
/*--- wraper ---*/
.CapitanA_wraper {
	position: relative;
	background-image: url(images/marvel_back.jpg);
}
.CapitanA_wraper p{
	font-size: 20px;
	padding: 50px;
	color: white;
	background-color: rgba(0, 0, 0, 0.3);
}

.CapitanA_img,
.IronM_img,
.Hulk_img,
.Tor_img,
.Natali_img {
	position: sticky;
	top: 0px;
}
.CapitanA_wraper img{
	width: 100%;
}

.CapitanA_img{
	padding-right: 80%;
}
.IronM_img{
	padding-left:20% ;
	padding-right: 60%;
}

.Hulk_img{
	padding-left: 40%;
	padding-right: 40%;
}
.Tor_img{
	padding-left: 60%;
	padding-right: 20%;
}
.Natali_img{
	padding-left: 80%;
}
.your_hero{
	background-color: #a5191c;
	text-align: center;
}
.up{
	position: fixed;
	bottom: 20px;
	right: 0px;
	transform-origin: right;
}
.up:hover{
	transform: scale(1.1);

}